.Table {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.habits {
	padding-top: 35px;
	grid-column: 1;

	&__item {
		padding: 10px;
		text-align: right;
	}
}

.col {
	& > * {
		padding: 10px;
		text-align: center;
	}
}
